<h1>
  <%= @contact.first_name %>
  <%= @contact.last_name %>
  <%= @contact.phone_number%>
  <%= @contact.email%>
</h1>


<h2>Here are all the contacts that are named john:</h2>

<%= Contact.all_john %>
