
<div>

<h1>
  <h3><%= @contact.first_name %></h3>
  <h3><%= @contact.last_name %></h3>
  <h3><%= @contact.phone_number%></h3>
  <h3><%= @contact.email%></h3>
  <h3>Belongs to Groups: </h3>
  <% @contact.groups.each do |group| %>
    <%= group.name %>
    <% end %>
  <h3><%= @contact.bio%></h3>
</h1>

</div>
